@charset "UTF-8";

/* Style related links for portfolio projects */
span.bbg__portfolio-links a {
	border-top: 3px solid #02bfe7;
	border-bottom: 3px solid #02bfe7;
	color: #02bfe7;
	font-size: rem(14px);
	font-weight: 700;
	padding: 5px;
	text-decoration: none;
}

span.bbg__portfolio-links a:hover {
	border-color: #046b99;
	color: #046b99;
}