.main-navigation {
	clear: both;
	display: inline;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		border-bottom: $border-dotted;
		display: block;
		margin: 0;
		text-transform: uppercase;

		&:hover > a,
		&.focus > a {
		}
	}
	li:before {
		content: none;
	}
	li:after {
		display: none;
	}
	a {
		display: block;
		padding: 1rem $site-margins;
		text-decoration: none;
	}
	a:hover {
		//background-color: $color-gold-lighter;
		background-color: $color-light-gray;
	}
	a:focus {
		box-shadow: none;
		margin: 0;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle{
	border-radius: 0 0 $border-radius $border-radius;
	margin-top: 0;
	position: absolute;
	width: auto;
}
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	/*position: absolute;*/
	right: 0;
	z-index: 9999;
}

@include media($medium-screen) {
/*@media screen and (min-width: 37.5em) {*/
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		position: absolute;
		right: 0;
		z-index: 9999;
	}
	.main-navigation {
		li {
			background-color: #FFF;
			border-bottom: none;
			border-right: $border-dotted;
			float: left;
			margin: 0;
			padding: 0;
		}

		li:first-of-type {
			border-left: $border-dotted;
		}

		li:first-of-type,
		li:first-of-type a:hover,
		li:first-of-type a:focus{
			border-radius: 0 0 0 $border-radius;
		}

		li:after {
			display: none;
		}

		a {
			padding: 1rem 1.5rem .5rem 1.5rem;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
