.bbg-avatar {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	@include media($medium-screen) {
		float: left;
		height: 70px;
		width: 70px;
	}
	@include media($large-screen) {
		height: 100px;
		width: 100px;
	}
}
.bbg-testingHound { font-size: 100%; }

.bbg-staff__author__text{
	width: 100%;
	@include media($medium-screen) {
		float: left;
		margin-left: 20px;
		width: calc(100% - 180px);
	}
}

.bbg-staff__author__text > * {
	text-align: center; 
	@include media($medium-screen) {
		text-align: left; 
	}
}

.bbg-staff__author-name{
	font-size: 3rem;
	margin-bottom: .1rem;
	margin-top: 0;
}

.bbg-staff__author-occupation {
	text-transform: uppercase;
}

.bbg-staff__author-bio {
	margin-top: 1rem;
}