
.bbg-avatar__container {
	margin: 0 auto;
	max-width: $bbg-avatar-width;
	@include media($small-screen) {
		float: left;
		margin: 0 1rem .5rem 0;
		width: $bbg-team__icon-width;
	}
}
.bbg-avatar__container--small {
	margin: 0 auto;
	max-width: 50px;
	@include media($small-screen) {
		float: left;
		margin: 0 1rem .5rem 0;
		width: 20%;
		max-width:50px;
	}
}

.bbg-avatar {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	@include media($small-screen) {
		height: 100%;
		width: 100%;
	}
}


//Styles for the team icons
.bbg-team {
	margin-bottom: $site-margins;
}

.bbg-team__name {
	clear: none;
	margin-bottom: 0;
	text-align: center;
	@include media($small-screen) {
		text-align: left;
	}
}

.bbg-team__icon {
	border-radius: 50%;
	height: $bbg-team__icon-width;
	margin: 0 auto;
	width: $bbg-team__icon-width;
}

.bbg-team__text {
	@include media($small-screen) {
		padding-left: $bbg-team__icon-width + 10px;
	}
}

.bbg-team__icon__image {
	@include backgroundCover;
	display: block; 
	height: 100%;
	width: 100%; 
}

.bbg-team__text-description {
	clear: none;
	margin-top: 0;
	max-width: $article-max-width;
}




.bbg-staff__author {
	//clear: left;
	margin-bottom: $site-margins;
	@include media($medium-screen) {
		margin-bottom: $site-margins*2;
	}
}

.bbg-staff__author__text{
	width: 100%;
	max-width: $article-max-width;
	@include media($small-screen) {
		padding-left: $bbg-team__icon-width + 10px;
	}
}

.bbg-staff__author__text > * {
	text-align: center; 
	@include media($small-screen) {
		text-align: left; 
	}
}

.bbg-staff__author-name{
	clear: none;
	line-height: 1;
	margin-bottom: .1rem;
	margin-top: 1rem;
	@include media($medium-large-screen) {
		font-size: $h2-font-size;
	}
}

.bbg-staff__author-occupation {
	text-transform: uppercase;
	@include media($medium-screen) {
		display: inline-block;
	}
	:after {
		content: " // ";
	}
}

.bbg-staff__author-occupation:after {
	@include media($medium-screen) {
		content: " // ";
	}
}



.bbg-staff__author-contact {
	margin-bottom: 1rem;
	@include media($medium-screen) {
		display: inline-block;
	}
}