.bbg-staff__author {
	margin-bottom: 2rem;
	@include clearfix();
	@include media($medium-screen) {
		margin-bottom: $site-margins * 1.5;
	}
}

.bbg-avatar__container {
	margin: 0 auto;
	max-width: $bbg-avatar-width;
	@include media($medium-screen) {
		float: left;
		margin: 0 1rem .5rem 0;
		width: $bbg-avatar-width-percentage;
	}
}
.bbg-avatar__container--small {
	margin: 0 auto;
	max-width: 50px;
	@include media($medium-screen) {
		float: left;
		margin: 0 1rem .5rem 0;
		width: 20%;
		max-width:50px;
	}
}

.bbg-avatar {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	@include media($medium-screen) {
		height: 100%;
		width: 100%;
	}
}


//Styles for the team icons
.bbg-team {
	margin-bottom: $site-margins;
}

.bbg-team__name {
	clear: none;
	margin-bottom: 0;
	text-align: center;
	@include media($medium-screen) {
		text-align: left;
	}
}

.bbg-team__icon {
	border-radius: 50%;
	height: 100px;
	margin: 0 auto;
	width: 100px;
}

@include media($medium-screen) {
	.bbg-team__text {
		padding-left: 110px;
	}
}

.bbg-team__icon__image {
	@include backgroundCover;
	display: block; 
	height: 100%;
	width: 100%; 
}

.bbg-team__text-description {
	clear: none;
	margin-top: 0;
}


.bbg-staff__author__text{
	width: 100%;
	@include media($medium-screen) {
		padding-left: $bbg-avatar-width-percentage + 3%;
	}
}

.bbg-staff__author__text > * {
	text-align: center; 
	@include media($medium-screen) {
		text-align: left; 
	}
}

.bbg-staff__author-name{
	clear: none;
	margin-bottom: .1rem;
	margin-top: 1rem;
	@include media($large-screen) {
		font-size: 2rem;
	}
}

.bbg-staff__author-occupation {
	text-transform: uppercase;
}

.bbg-staff__author__contact {
	margin-bottom: 1rem;
}