/** HEADER AREA */
/* Featured image */
.bbg__article-header__thumbnail--large {
	background-color: #F1F1F1;
	line-height: 0;
	margin: {
		top: $site-margins;
		bottom: $site-margins;
	}
	max-height: 624px;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
	}
}

.bbg__article-header__caption {
	background-color: $box-transparent;
	color: #FFF;
	font-size: 80%;
	line-height: 1.2;
	padding: $site-margins * .5 $site-margins;
	position: absolute;
		bottom: 0;
	text-align: left;
	width: 100%;

	@include media($medium-screen) {
		font-size: 90%;
		padding: $site-margins * .5;
		right: 0;
		max-width: 50%;
	}
}

/* Post title */
.bbg__article-header__title {
	font-size: $h1-font-size * .8;

	@include media($medium-screen) {
		font-size: $h1-font-size;
	}
	@include media($medium-large-screen) {
		font-size: $h1-font-size * 1.25;
	}

}

/* Author byline */
.bbg__article-meta {
	font: {
		family: $font-serif;
		size: $small-font-size;
		weight: $font-light;
	}

	@include media($medium-large-screen) {
		font-size: $base-font-size;
		margin-bottom: $site-margins * 1.3;
	}

	.author {
		font: {
			weight: $font-bold;
			style: italic;
		}
	}

}

/** ARTICLE SHARE AREA */
.bbg__article-share {
	margin: {
		top: 0;
		bottom: 1rem;
		}

	@include media ($medium-screen) {
		margin: {
			top: 0;
			bottom: 0;
		}
	}

	@include media($medium-large-screen) {
		float: left;
		margin-top: -1%; /* Added to overwrite the existing margin-top applied to all UL tags by USDS :: GIGI */
	}
}

/* Article share links */
.bbg__article-share__link {
	display: inline-block;
	margin-right: 1rem;

	a:hover, a:focus {
		background: none;
		text-decoration: none;
	}

	@include media($medium-large-screen) {
		display: block;
	}
}

.bbg__article-share__link:before {
	content: "";
}


/* Article share links: icons */
.bbg__article-share__icon {
	background-color: $color-gray-lightest;
	@include backgroundCover();

	border-radius: $border-radius;
	display: inline-block;
	height: $share-icon-large;
	margin-right: .5rem;
	vertical-align: middle;
	width: $share-icon-large;

	@include media($medium-screen) {
		border-radius: 0;
		height: $share-icon-small;
		width: $share-icon-small;
	}
}

.bbg__article-share__icon.email {
	background: {
		color: $color-gray-lightest;
		image: url(img/social-icons/png-white/social-icons_email.png);
	}
}

.bbg__article-share__icon.facebook {
	background: {
		color: $color-share-facebook;
		image: url(img/social-icons/png-white/social-icons_facebook.png);
	}
}

.bbg__article-share__icon.twitter {
	background: {
		color: $color-share-twitter;
		image: url(img/social-icons/png-white/social-icons_twitter.png);
	}
}


/* Article share links: text */
.bbg__article-share__text {
	display: none;

	&:hover, &:focus {
		background: none;
		text-decoration: underline;
	}

	@include media($medium-screen) {
		display: inline-block;
	}
}


/** POST CONTENT */
.bbg__article-content > * {
	margin: {
		right: auto;
		left: auto;
	}
	max-width: $article-max-width;
}

.single-post .bbg__article-content > p:first-of-type {
	@extend .readin;
}

.bbg__article-content {
	> h3 {
		font-family: $font-sans;
		margin-top: 2em;
		text-transform: uppercase;
	}

	> h4 {
		clear: none;
	}

	h1, h2, h3, h4, h5, h6, p {
		+ ul,
		+ ol {
			margin: {
				top: 0;
				bottom: 1em;
			}
		}
	}

	a, p {
		word-wrap: break-word;
	}

	.bbg__article-content__subhead {
		//color: $color-gray-medium;
		font: {
			family: $font-serif;
			style: italic;
			weight: $font-normal;
		}
  		line-height: $heading-line-height;
  		margin-top: $site-margins;
	}

	.bbg__article-content__section-title {
		color: $color-gray-dark;
		line-height: $heading-line-height;
  		margin: {
  			top: $site-margins;
  			bottom: 0;
  		}

  		+ p {
  			margin-top: .5rem;
  		}
	}

	.wp-caption-text {
		color: $color-gray-dark;
		font: {
			family: $font-serif;
			size: $caption-font-size;
			style: italic;
			weight: $font-light;
		}
		line-height: $lead-line-height;
		text-align: left;
	}

	li {
		margin-bottom: 3.5em;
	}


	blockquote {
		margin: {
			top: 0;
			right: auto;
			left: auto;
		}
		padding: {
			top: 0;
			right: 2rem;
			left: 2rem;
		}

		&.pullquote {
			border-bottom: {
				color: $color-primary;
				style: solid;
				width: 6px;
			}
			font: {
				family: $font-serif;
				size: 2rem;
			}
			margin-bottom: $site-margins;

			@include media($medium-large-screen) {
				float: left;
				margin-right: $grid-margins;
				max-width: 50%;
				padding: 0;
			}
		}
	}
}

/** POST AUTHOR */
.bbg__article-author {
	background: {
		color: $color-gray-lightest;
	}
	border-radius: $border-radius;
	margin: {
		right: auto;
		bottom: $site-margins;
		left: auto;
	}
	max-width: $article-max-width;
	padding: 2rem;
	text-align: center;
	@include clearfix();

	@include media($small-medium-screen) {
		bottom: 4rem;
		text-align: left;
	}

	.bbg-staff__author-name {
		font-weight: $font-bold;
		margin-bottom: .5rem;
	}

	.bbg__author-description {
		margin-bottom: 1rem;

		@include media($small-medium-screen) {
			margin-left: 110px;
		}

		.bbg__author-occupation {
			font-weight: $font-normal;
			margin-bottom: 1.3rem;
		}

		.bbg__author-bio {
			font: {
				family: $font-serif;
				size: $small-font-size;
				weight: $font-light;
			}
			line-height: $lead-line-height;
			margin-bottom: 1rem;
		}
	}

	.bbg__author-contact {
		font: {
			size: $small-font-size;
			weight: $font-light;
		}
		line-height: $lead-line-height;
		margin-bottom: 0;
		padding-left: 0;

		@include media($small-medium-screen) {
			margin-left: 110px;
		}

		@include media($medium-screen) {
			float: right;
			margin-left: 0;
			text-align: right;
		}

		.bbg__author-contact__email {
			display: block;
			font: {
				size: $base-font-size;
				weight: 500;
			}
			margin-bottom: .5rem;

			@include media($medium-screen) {
				display: inline-block;
				// margin-right: .25rem;
			}
		}

		.bbg__author-contact__twitter {
			display: block;

			@include media($medium-screen) {
				display: inline-block;
				margin-right: .25rem;

				&:before {
					content: " | ";
				}
			}
		}

		.bbg__author-contact__website {
			display: block;

			@include media($medium-screen) {
				display: inline-block;

				&:before {
					content: " | ";
				}
			}
		}
	}

}



.bbg__article-footer {
	margin-top: $site-margins * 2;
}