/** HEADER AREA */
/* Featured image */
.bbg__article-header__thumbnail--large {
	background-color: #F1F1F1;
	line-height: 0;
	text-align: center;
	margin-bottom: $site-margins-small;
	border: {
		color: $color-gray-lightest;
		style: solid;
		width: 1px;
	}
}

/* Post title */
.bbg__article-header__title {
	font-size: $h1-font-size * .8;

	@include media($medium-screen) {
		font-size: $h1-font-size;
	}
}

/* Author byline */
.bbg__article-meta {
	font: {
		family: $font-serif;
		size: $small-font-size;
		weight: $font-light;
	}

	@include media($medium-large-screen) {
		font-size: $base-font-size;
		margin-bottom: $site-margins * 1.3;
	}

	.author {
		font: {
			weight: $font-bold;
			style: italic;
		}
	}

}

/** ARTICLE SHARE AREA */
.bbg__article-share {
	margin-top: 0;

	@include media($medium-large-screen) {
		float: left;
		margin-top: -1%; /* Added to overwrite the existing margin-top applied to all UL tags by USDS :: GIGI */
	}
}

/* Article share links */
.bbg__article-share__link {
	display: inline-block;
	margin-right: 1rem;

	@include media($medium-large-screen) {
		display: block;
	}
}

.bbg__article-share__link:before {
	content: "";
}


/* Article share links: icons */
.bbg__article-share__icon {
	background: {
		color: #CCC;
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	border-radius: $border-radius;
	display: inline-block;
	height: $share-icon-large;
	margin-right: .5rem;
	vertical-align: middle;
	width: $share-icon-large;

	@include media($medium-large-screen) {
		border-radius: 0;
		height: $share-icon-small;
		width: $share-icon-small;
	}
}

.bbg__article-share__icon.email {
	background: {
		color: #CCC;
		image: url(img/social-icons/png-white/social-icons_email.png);
	}
}

.bbg__article-share__icon.facebook {
	background: {
		color: $color-share-facebook;
		image: url(img/social-icons/png-white/social-icons_facebook.png);
	}
}

.bbg__article-share__icon.twitter {
	background: {
		color: $color-share-twitter;
		image: url(img/social-icons/png-white/social-icons_twitter.png);
	}
}


/* Article share links: text */
.bbg__article-share__text {
	display: none;

	@include media($medium-large-screen) {
		display: inline-block;
	}
}


/** POST CONTENT */
.bbg__article-content > * {
	margin: {
		right: auto;
		left: auto;
	}
	max-width: $article-max-width;
}

.single-post .bbg__article-content > p:first-of-type {
	font: {
		family: $font-serif;
		size: $base-font-size * 1.3;
		weight: $font-light;
	}
	margin: {
		top: 0;
		right: auto;
		bottom: $site-margins;
		left: auto;
	}
}

.bbg__article-content > h3 {
	font-family: $font-sans;
	margin-top: 2em;
	text-transform: uppercase;
}

.bbg__article-content > h4 {
	clear: none;
}

h1, h2, h3, h4, h5, h6, p {
	+ ul,
	+ ol {
		margin: {
			top: 0;
			bottom: 1em;
		}
	}
}

.bbg__article-content li {
	margin-bottom: 3.5em;
}

.bbg__article-content blockquote {
	margin: {
		top: 0;
		right: auto;
		left: auto;
	}
	padding: {
		top: 0;
		right: 2rem;
		left: 2rem;
	}

	&.pullquote {
		border-bottom: {
			color: $color-primary;
			style: solid;
			width: 6px;
		}
		margin-bottom: $site-margins;

		@include media($medium-large-screen) {
			float: left;
			font-family: $font-serif;
			margin-right: $grid-margins;
			max-width: 50%;
			padding: 0;
		}
	}
}

.bbg__article-author {
	background: {
		color: $color-gray-lightest;
	}
	margin: {
		right: auto;
		bottom: 4rem;
		left: auto;
	}
	max-width: $article-max-width;
	overflow: hidden;
	padding: 2rem;

	.bbg-avatar__container {
		margin-right: 1rem;
	}

	.bbg-staff__author-name {
		font-weight: $font-bold;
		margin-bottom: .5rem;
	}

	.bbg-staff__author-description {
		float: left;
		width: 50%;

		.bbg-staff__author-occupation {
			margin-bottom: .75rem;
		}

		.bbg-staff__author-bio {
			font: {
				family: $font-serif;
				size: $small-font-size;
			}
		}
	}

	.bbg-staff__author-contact {
		text-align: right;
		font: {
			size: $small-font-size;
			weight: $font-light;
		}
		line-height: $lead-line-height;

		.bbg-staff__author-contact__email {
			font: {
				size: $base-font-size;
			}
			margin-bottom: .5rem;
		}
	}

}