.bbg-fuego__article.bbg-grid--1-2-2 {
	border-top: none !important;
	padding-top: 0;
}
.bbg-fuego__article {
	border-top: 1px dotted #CCC;
	padding-top: $site-margins;
}


.bbg-fuego__article__header-source-link,
.bbg-fuego__article__header-source-link:visited {
	color: $color-secondary-darkest;
	font-family: $font-sans;
}

.bbg-fuego__article__header-link,
.bbg-fuego__article__header-link:visited {
	color: #333;
}


.bbg-fuego__article__header-title--large {
	font-size: $h2-font-size;
}



.bbg-fuego__article__header-title {
	@include media($large-screen) {
		font-size: $h2-font-size;
	}
}



.bbg-fuego__article__description:hover,
.bbg-fuego__article__description:hover p {
	color: #333;
	text-decoration: none;
}

.bbg-fuego__article__description p {
	color: #333;
}

.bbg-fuego__article__thumbnail {
	background-color: #CCC;
	@include backgroundCover();
	float: left;
	height: 120px;
	margin: 0 1.5rem 1rem 0;
	width: 200px;
}

.bbg-fuego__article__thumbnail--large {
	background-color: #CCC;
	@include backgroundCover();
	height: 240px;
	margin: 0 0 1rem 0;
	width: 100%;
}


.bbg-fuego__article__footer {
	color: #999;
	font-size: 1.4rem;
	text-align: right;
}

.bbg-fueg__article__footer-image {
	@include backgroundCover();
	border-radius: 50%;
	display: inline-block;
	height: 3rem;
	vertical-align: middle;
	width: 3rem;
}

.bbg-fuego__button__hide-link {
	background-color: $color-secondary-darkest;
}