.multicolumn {
	@include media($medium-large-screen) {
		-webkit-column-count: 2;
		   -moz-column-count: 2;
		        column-count: 2;
		-webkit-column-gap: $site-margins; /* Chrome, Safari, Opera */
		    -moz-column-gap: $site-margins; /* Firefox */
		    column-gap: $site-margins;
	}
}

.bbg-fuego__article.bbg-grid--1-2-2 {
	border-top: none !important;
	padding-top: 0;
}
.bbg-fuego__article {
	border: 1px solid #CCC;
	border-radius: $border-radius;
	margin-top: $site-margins * .75;
	padding: $site-margins * .75;

	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	          page-break-inside: avoid; /* Firefox */
	               break-inside: avoid; /* IE 10+ */
}

.bbg-fuego__article__header-source-link,
.bbg-fuego__article__header-source-link:visited {
	color: $color-secondary-darkest;
	font-family: $font-sans;
}

.bbg-fuego__article__header-link,
.bbg-fuego__article__header-link:visited {
	color: #333;
}


.bbg-fuego__article__header-title--large {
	font-size: $h2-font-size;
}

.bbg-fuego__article__header-title {
	@include media($large-screen) {
		font-size: $h2-font-size;
	}
}

.bbg-fuego__article__description:hover,
.bbg-fuego__article__description:hover p {
	color: #333;
	text-decoration: none;
}

.bbg-fuego__article__description p {
	color: #333;
}

.bbg-fuego__article__thumbnail {
	background-color: #CCC;
	@include backgroundCover();
	float: left;
	height: 120px;
	margin: 0 1.5rem 1rem 0;
	max-width: $thumbnail-small-max-width;
	width: 50%;
}

.bbg-fuego__article__thumbnail--large {
	background-color: #CCC;
	@include backgroundCover();
	height: 240px;
	margin: 0 0 1rem 0;
	width: 100%;
}


.bbg-fuego__article__footer {
	color: #999;
	font-size: 1.4rem;
	text-align: right;
}

.bbg-fueg__article__footer-image {
	@include backgroundCover();
	border-radius: 50%;
	display: inline-block;
	height: 3rem;
	vertical-align: middle;
	width: 3rem;
}

.bbg-fuego__button__hide-link {
	background-color: $color-secondary-darkest;
}

.bbg-fuego__twitter-photo {
	@include backgroundCover(); 
	border-radius: 50%;
	float: left;
	height: $bbg-avatar-twitter;
	vertical-align: middle;
	width: $bbg-avatar-twitter;
}

.bbg-fuego__twitter__author-name {
	font-size: 17px;
	font-weight: bold;
}

.bbg-fuego__twitter__tweet {
	font-size: 2rem;
	font-weight: bold;
}

.bbg-fuego__twitter__quoted-tweet {
	background-color: #F7F7F7;
	border: 1px solid #CCC;
	padding: 1rem;
}

