//Experiment to see if grid can convert from 1- to 2- to 3-columns.
@include media($medium-screen) {
	.bbg-width-one-half {
		@include span-columns(6);
		margin-right: 0;
	}
	.bbg-width-one-half:nth-child(2n) {
		clear: left;
		margin-right: 2%;
	}
}

@include media($large-screen) {
	.bbg-width-one-half {
		@include span-columns(4);
		margin-right: 2%;
		clear:none;
	}

	.bbg-width-one-half:nth-child(2n) {
		clear: none;
		margin-right: 2%;
	}
	.bbg-width-one-half:nth-child(3n) {
		margin-right: 0;
	}

	.bbg-width-one-half:nth-child(3n+1) {
		clear: left;
	}
}