.main-navigation {
	// add arrow direction change to top navigation with sub-menus
    .menu-item-has-children.hidden > a {
            background-image: url('img/arrow-right.png');
        	background-image: url('img/arrow-right.svg');
        	cursor: pointer;
        	margin: 0;
    }
}