// Temporary patch for gaps in CSS as they update their styles
img {
	height: auto;
}

// fix relative img links for background-images in the footer
// from: ../img/ 
// to: img/


ul.usa-footer-primary-content,
li.usa-footer-primary-content,
li.usa-footer-primary-content {
	border-top: 1px solid #CCC;

	@include media($medium-screen) {
		border: none;
	}

	&:last-child {
		border-bottom: 1px solid #CCC;

		@include media($medium-screen) {
			border-bottom: none;
		}
	}
}



//Primary footer category links should have a hand cursor on hover
.usa-footer-big nav .usa-footer-primary-link {
	cursor: pointer;
}