/**
 *  Changing styles on content-single for portfolio posts
 *
 */
.category-portfolio { // Only apply to posts in the portfolio category

	/* Hide article meta (author and date) */
	.bbg__article-meta  {
		display: none;
	}

	/* Style related links for portfolio projects */
	.bbg__portfolio-links  a {
		border: {
			top: $border-solid-links;
			bottom: $border-solid-links;
		}
		color: $color-primary-alt;
		font: {
			size: $small-font-size;
			weight: $font-bold;
		}
		padding: 5px;
		text-decoration: none;

		&:hover {
			border-color: $color-primary-alt-darkest;
			color: $color-primary-alt-darkest;
		}
	}

	/**
 	 * Style content of section listing project team members
 	 */
	.bbg__portfolio-members {
		margin-top: 4rem;

		@include media($medium-screen) {
			margin-top: 1.5rem;
		}

		.bbg__portfolio-members__title {
			@extend .bbg__comments-title;
			font-size: $h4-font-size;
			text-transform: uppercase;
		}

		.bbg__portfolio-members__list {
			list-style-type: none;

			.bbg__portfolio-members__member-name {
				font-weight: $font-bold;

				&:before {
					content: '';
				}
			}

			.bbg__portfolio-members__member-job {
				color: $color-gray-dark;

				font: {
					family: $font-serif;
					size: $small-font-size;
					style: italic;
					weight: $font-light;
				}
			}
		}
	}

	/**
	 * Change layout of main elements for different breakpoints
	 */
	@include media($medium-screen) {
		.bbg__article-content {
			margin: {
				top: 0;
				right: auto;
				bottom: $site-margins;
				left: auto;
			}
    		max-width: $article-max-width;
		}
	}

	@include media($medium-large-screen) {
		.bbg__article-share {
			display: inline-block;
			float: left;
			margin: {
				top: 0;
				right: $site-margins;
			}
		}

		.bbg__article-sidebar {
			//display: inline-block;
			//float: left;
			max-width: 17rem;
			position: absolute;
				top: 0;
				right: 0;
			width: 14%;
		}
	}

	@include media($large-screen) {
		/*
		.bbg__article-share {
			margin-right: 5rem;
		}
		*/

		.bbg__article-content {
			//margin-right: 6rem;
    		//max-width: $article-max-width;
		}
	}
}