/**
 *  Changing styles on content-single for portfolio posts
 *
 */
.category-portfolio { // Only apply to posts in the portfolio category

	/* Hide article meta (author and date) */
	.bbg__article-meta  {
		display: none;
	}

	/* Style related links for portfolio projects */
	.bbg__portfolio-links  {

		a {
			background: {
				position: left top;
				repeat: no-repeat;
				size: contain;
			}

			color: $color-primary-darkest;
			font: {
				size: $small-font-size;
				weight: $font-bold;
			}
			text-decoration: none;

			&:hover {
				color: black;
				text-decoration: underline;
			}
			// Generic website URL
			&[href] {
				background: {
					image: url(img/social-icons/png/link-icon.png);
					image: url(img/social-icons/svg/link-icon.svg);
				}
				padding-left: 2.3rem;
			}
			// Android apps on GooglePlay
			&[href*="https://play.google.com"] {
				background: {
					image: url(img/social-icons/png/google-play-badge.png);
					image: url(img/social-icons/svg/google-play-badge.svg);
				}
				padding-left: 6.5rem;
			}
			// iOS apps on App Store
			&[href*="https://itunes.apple.com"] {
				background: {
					image: url(img/social-icons/png/apple-app-store-badge.png);
					image: url(img/social-icons/svg/apple-app-store-badge.svg);
				}
				padding-left: 6.3rem;
			}
			//YouTube links
			&[href*="https://www.youtube.com"] {
				background: {
					image: url(img/social-icons/png/youtube-icon-full_color.png);
					image: url(img/social-icons/svg/youtube-icon-full_color.svg);
				}
				padding-left: 3rem;
			}
			// GitHub links
			&[href*="https://github.com"] {
				background: {
					image: url(img/social-icons/png/github-mark.png);
					image: url(img/social-icons/svg/github-mark.svg);
				}
				padding-left: 2.3rem;
			}
		}
	}

	/**
 	 * Style content of section listing project team members
 	 */
	.bbg__portfolio-members {
		margin-top: 4rem;

		@include media($medium-screen) {
			margin-top: 1.5rem;
		}

		@include media($medium-large-screen) {
			margin-top: 0;
		}

		.bbg__portfolio-members__title {
			@extend .bbg__comments-title;
			font-size: $h4-font-size;
			text-transform: uppercase;
		}

		.bbg__portfolio-members__list {
			@include unstyled-list;

			.bbg__portfolio-members__member-name {
				font-weight: $font-bold;
			}

			.bbg__portfolio-members__member-job {
				color: $color-gray-dark;

				font: {
					family: $font-serif;
					size: $small-font-size;
					style: italic;
					weight: $font-light;
				}
			}
		}
	}

	/**
	 * Change layout of main elements for different breakpoints
	 */
	@include media($medium-screen) {
		.bbg__article-content {
			margin: {
				top: 0;
				right: auto;
				bottom: $site-margins;
				left: auto;
			}
    		max-width: $article-max-width;
		}
	}

	@include media($medium-large-screen) {
		.bbg__article-share {
			display: inline-block;
			float: left;
			margin: {
				top: 0;
				right: $site-margins;
			}
		}

		.bbg__article-sidebar {
			max-width: 17rem;
			position: absolute;
				top: 0;
				right: 0;
			width: 14%;
		}
	}
}