.usa-bbg-site-branding {
	margin-bottom: $site-margins;
}

section.usa-section{
	margin-bottom: $site-margins;
}

.bbg-site-logo{
	background: #CCC url(img/logo-agency-square.png) no-repeat center center / cover;
	display: inline-block;
	height: 2.5rem * 1.2;
	margin-right: 10px;
	vertical-align: middle;
	width: 2.5rem * 1.2;

	@include media($medium-screen) {
		height: 4rem * 1.2;
		width: 4rem * 1.2;
	}
}

.usa-heading-site-title {
	font-size: 2.5rem;

	@include media($medium-screen) {
		font-size: 4rem;
	}

		a {
			color: $color-base;
		}

		a:hover {
			text-decoration: none;
		}

		a:focus {
			box-shadow: none;
		}
}

.usa-heading-site-description{
	font-family: $font-sans;
	font-size: 1.5rem;
	font-weight: $font-normal;
	margin-top: 0;
	text-transform: uppercase;

	@include media($medium-screen) {
		font-size: 2rem;
	}
}

.usa-bbg-footer-big-top{
	padding: 0 $site-margins;
}

.usa-font-lead {
	font-size: $lead-font-size * .8;
	font-weight: 300;

	@include media($medium-screen) {
		font-size: $lead-font-size;
		line-height: 2.5;
	}
}

.usa-bbg-continue {
	a {
		font-family: $font-sans;
		font-weight: 700;
		text-transform: uppercase;
		font-size: .9em;
	}
}