.bbg-staff-profile{
	margin-bottom:7rem;
}
.usa-bbg-avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.bbg-staff-author{
	margin-top:0;
}
.bbg-staff-contact-link:before{
	content: "• ";
}
.bbg-staff-contact-link:first-of-type:before{
	content: "";
}