.bbg-staff__author{
	@include clearfix;
	margin-bottom: $site-margins;
}

.bbg-avatar {
	border-radius: 50%;
	width: 125px;
	height: 125px;
}

.bbg-staff__author {
	margin-top:0;
}

.bbg-staff__author__contact-link:before{
	content: "• ";
}
.bbg-staff__author__contact-link:first-of-type:before{
	content: "";
}