/** ---------------
 * TABLES
 ------------------ */
.usa-table,
.usa-table-borderless,
.bbg__table-plain {
    font-size: $small-font-size;

    @include media($small-screen) {
        font-size: $base-font-size;
    }
}

.bbg__table-plain {
    display: block;
    margin: 0 auto;
	min-width: auto;
	max-width: $article-max-width;
	width: 100%;

    th,
    td {
        border: none;
        padding: 0 1.5rem;
    }
}

/** ---------------
 * FORMS
 ------------------ */
.bbg__article__form {
	display: none;

	.bbg__article__form-select--sub {
		display: none;
	}
}

.bbg__article__form--inline {
	@extend .bbg__table-plain;

	fieldset {
		display: table-row;
	}

	legend {
		display: table-caption;
	}

	div {
		display: table-cell;
		margin-right: 2rem;
	}
}
/*
input[type="checkbox"],
input[type="radio"] {
	-webkit-appearance: radio;
	display: inline;
    position: relative;
	left: 0;
}
*/