.usa-table,
.usa-table-borderless,
.bbg__table-plain {
    font-size: $small-font-size;

    @include media($small-screen) {
        font-size: $base-font-size;
    }
}

.bbg__table-plain {
    display: block;
    margin: 0 auto;
	min-width: auto;
	max-width: $article-max-width;
	width: 100%;

    th,
    td {
        border: none;
        padding: 0 1.5rem;
    }
}