.u--no-wrap {
	white-space: nowrap;
}

.u--show-mobile {
	@include media($small-screen) {
		display: none;
	}
}

.u--hide-mobile {
	display: none;

	@include media($small-screen) {
		display: inline;
	}
}

.u--remove-margin-bottom {
	margin-bottom: 1rem !important;
}

@mixin backgroundCover() {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin hide-text {
	font: 0px/0 a;
  	text-shadow: none;
  	color: transparent;
    overflow: hidden;
    text-indent: -9000px;
    display: block;
}