.u--no-wrap {
	white-space: nowrap;
}

.u--show-mobile {
	@include media($small-screen) {
		display: none;
	}
}

.u--hide-mobile {
	display: none;

	@include media($small-screen) {
		display: inline;
	}
}

@mixin backgroundCover() {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
