// Typography
$font-sans: 'Lato', 'Helvetica', 'Arial', sans-serif;

$base-font-size:      rem(16px);
$read-in-font-size:   rem(20px);
$caption-font-size:   rem(12px);

$base-line-height:    1.7;
$small-line-height:   1.4;

$text-shadow: 		  1px 1px 1px rgba(#000, .5);

$font-light:  	300;
$font-normal: 	400;
$font-medium:	500;
$font-bold:  	700;

$focus-shadow:	none;

// Color
$color-share-facebook:        #3d5a98;
$color-share-twitter:         #55acee;
$color-light-gray:            #ECECEC;

$color-focus:                 #3e94cf;
$color-visited:               #4773aa;


// Mobile First Breakpoints
$small-medium-screen:		  481px; //This repeats $small-screen variable
$medium-large-screen:         900px;


// Misc styles
$border-dotted:               1px dotted #CCC;
$border-dotted-section:       1px dotted #981b1e;
$border-solid:                1px solid #CCC;
$border-solid-links:		  3px solid #02bfe7;
$box-transparent:             rgba(#000, .3);


// Magic Numbers
$banner-image-height:         400px;
$bbg-avatar-width:            200px;
$bbg-avatar-width-small:       50px;
$bbg-avatar-width-percentage:  20%;
$bbg-avatar-twitter:           70px;
$bbg-team__icon-width:        100px;
$share-icon-small:             20px;
$share-icon-large:             40px;
$site-margins-small:           10px;
$thumbnail-small-max-width:   200px;

