// Typography
$text-shadow: 1px 1px 1px rgba(#000, .5);


// Color
$color-share-facebook:        #3d5a98;
$color-share-twitter:         #55acee;


// Mobile First Breakpoints
$medium-large-screen:         900px;


// Magic Numbers
$box-transparent:             rgba(#000, .3);
$banner-image-height:         400px;
$share-icon-small:            20px;
$share-icon-large:            40px;


// WordPress 