// Typography
$text-shadow: 1px 1px 1px rgba(#000, .5);

// Color


// Mobile First Breakpoints


// Magic Numbers
$box-transparent:             rgba(#000, .3);
$banner-image-height:         400px;


// WordPress 
$navigation-margin-right:     3rem;